.sidebar-item{
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5px;
    span{
        padding-left: 10px;
        font-weight: 200;
    }
}